# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# Virtual env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data artifacts
data/raw/*
data/annotations/*
data/processed/*
assets/outputs/*

# Keep folder structure
!data/raw/.gitkeep
!data/annotations/.gitkeep
!data/processed/.gitkeep
!assets/outputs/.gitkeep

# Kaggle raw dataset (very large)
data/kaggle_raw/

# YOLO generated images (we regenerate anytime)
data/yolo/images/
data/yolo/labels/

# Processed data
data/processed/

# Ultralytics / training artifacts
runs/
notebooks/runs/
**/*.pt